*{
  margin: 0;
  padding: 0;
}
.orange{
  color: #ee8129;
}
.blue{
  color: #3070a8;
}
a{
  text-decoration: none;
}

/*HEADER*/

header{
  width: 100%;
  min-width: 958px;
  position: fixed;
  z-index: 100;
  background-color: #fff;
}
.company_name, nav{
  display: inline-block;
}
.company_name{
width: 30%;
text-align: right;
padding: 5px 0;
font-family: Myriad, sans-serif;
  font-size: 36px;
}
.company_name .orange{
  text-transform: capitalize;
}
.company_name .blue{
  text-transform: uppercase;
}
nav{
  vertical-align: super;
width: 70%;
text-align: center;
  font-family: Myriad, sans-serif;
  font-size: 14px;
  font-weight: bold;

}
nav a{
  text-transform: uppercase;
  padding: 0 10px;
  color: #989898;
}
nav a:hover{
  color: #3070a8;
  border-bottom: 4px solid #3070a8;
  padding-bottom: 13px;
}

/*ABOUT*/

.about{
  background-image: url(images/banner.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  min-width: 958px;
  height: 585px;
  position: relative;
  text-align: center;
}
.about_color{
  background-color: #023193;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
.about_content{
  position: absolute;
  top: 0;
  left: 0;
   position: absolute;
  margin: 7% 15%;
  font-family: Myriad, sans-serif;
  color: #fff;    
}
.about_content h4{
  font-size: 36px;
  font-weight: 200;
}
.about_content h1{
  font-size: 48px;
  text-transform: uppercase;
  margin-top: 20px;

}
.about p{
  font-family: Calibri, sans-serif;
  font-size: 20px;
  font-style: italic;
  margin-top: 23px;
  padding: 0 10%;
}
.about input{
  margin: 20px auto;
  height: 60px;
  width: 250px;
  color: #fff;
  border: 1px solid #8495a2;
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 40px;
  font-weight: bold;
  border-radius: 4px;
}
.about input:hover{
  color: #3070a8;
  background-color: #fff;
}

/*SERVICES*/
.services{
  text-align: center;
  min-width: 958px;
}
.services h2{
  font-family: Myriad, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #3070a8;
  font-weight: normal;
}
.services>h2{
  font-family: Trebuchet, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #41525c;
  margin-top: 70px;
}
.services p{
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  color: #a9a7a7;
  margin: 30px 0 20px 0;
  line-height: 1.5;
}
.protect, .alert, .detect{
  display: inline-block;
  width: 250px;
  padding: 30px 4%;
  padding-top: 80px;
}
.protect{
  padding-left: 0;
}
.detect{
  padding-right: 0;
}
.services img{
  margin-bottom: 30px;
}

/*PORTFOLIO*/
.portfolio{
  min-width: 958px;
  position: relative;
  overflow: hidden;
  height: 578px;
  width: 100%;
  background-image: url(images/content.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 10%;
}
.portfolio_image{
  background-color: #1e2022;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.portfolio_content{
  position: absolute;
  top: 0;
  left: 0;
  width: 52%;
  margin: 7% 0 0 12%;
  line-height: 28px;
  color: #9d9d9d;
}
.portfolio h2{
  font-family: Myriad, sans-serif;
  font-size: 26px;
  color: #ee8129;
  text-transform: uppercase;
  line-height: 1.5em;
}
.portfolio p{
  font-family: Myriad,sans-serif;
  font-size: 19px;
  color: #fff;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 20px;
}
.portfolio ul{
  margin-left: 20px;
  font-family: Myriad, sans-serif;
  font-size: 14px;
}
.portfolio ul li{
  padding-bottom: 10px;
}

/*PRICING*/
.pricing{
  text-align: center;
  min-width: 958px;
  padding: 50px 0;
}
.pricing h1{
  text-transform: uppercase;
  font-family: Trebuchet, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #41525c;
  padding: 10px 0 50px 0;
}
.price1, .price2, .price3{
  display: inline-block;
  width: 290px;
}
.price1, .price3{
  border: 1px solid #e8eaec;
}
.price2{
  border: 4px solid #ee8129;
  padding-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.price1{
  border-right: none;
  border-radius: 6px 0 0 6px;
}
.price3{
  border-left: none;
  border-radius: 0 6px 6px 0;
}
.price_header{
  text-transform: uppercase;
  font-family: Myriad, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  padding: 24px 0 20px 0;
}
.price1 .price_header{
  background-color: #2bc2d5;
}
.price2 .price_header{
  background-color: #ee8129;
  padding: 27px 0;
}
.price3 .price_header{
  background-color: #00b89a;
}
.pricing .title{
  text-transform: uppercase;
  font-family: Myriad, sans-serif;
  font-size: 24px;
  padding: 20px 0;
}
.pricing .price{
  font-family: Myriad, sans-serif;
  font-size: 72px;
  font-weight: bold;
  position: relative;
  padding-right: 50px;
}
.pricing .price::before{
  content: "$";
  position: absolute;
  font-size: 30px;
  left: 60px;
}
.pricing .price::after{
  content: "Monthly";
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 60px;
}
.pricing ul{
  list-style-type: none;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  padding: 20px;
  position: relative;
}
.pricing ul li{
  padding: 8px;
  margin: 1px;
  padding-left: 70px;
  text-transform: capitalize;
}
.pricing .big_letter{
  text-transform: uppercase;
}
.pricing .not_transform{
  text-transform: none;
}
.pricing ul li::before{
  content: "";
background: url(images/bullit.png);
width: 14px;
height: 15px;
position: absolute;
left: 50px;
}
.pricing ul li:nth-of-type(odd){
  background-color: #edf5fd;
}
.pricing ul li:nth-of-type(even){
  background-color: #f5f5f6;
}
.pricing .price2 input{
  background-color: #ee8129;
}
.pricing input{
  background-color: #3070a8;
  width: 253px;
  height: 38px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 6px;
}

/*TESTIMONIALS*/
.testimonials{
  position: relative;
  height: 315px;
  min-width: 958px;
  background-image: url(images/testimonials.png);
  -webkit-background-size: cover;
  background-size: cover;
}
.testimonials_bg{
  background-color: #0f1820;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}
.testimonials_content{
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}
.testimonials h1{
  padding: 50px 0 40px 0;
  font-family: Trebuchet, sans-serif;
  font-size: 40px;
  text-transform: uppercase;

}
.testimonials a{
  color: #3070a8;
  font-weight: bold;
}
.testimonials .first_t, .testimonials .second_t{
  display: inline-block;
}
.testimonials_title, .testimonials_customer{
  display: inline-block;
}

.first_t, .second_t{
  width: 40%;
  height: 100px;
}
.testimonials img{
  float: left;
}
.testimonials img, .testimonials_header{
  display: inline-block;
  vertical-align: middle;
}
.testimonials_message{
  height: 100px;
  margin-left: 125px;
  background-color: #fff;
  text-align: left;
  line-height: 1.5;
  position: relative;
  padding: 0 15px;
}
.testimonials_message::before{
   content: "";
  position: absolute;
  border: 13px solid transparent;
  border-right: 18px solid #fff;
  left: -30px;
  top: 40px;
}
.first_t {
  padding-right: 20px;
}
.second_t{
  padding-left: 20px;
}
.testimonials_customer{
  position: absolute;
  right: 20px;
  top: 10px;
}
.testimonials_header{
  padding: 10px 0 5px 0; 
  font-family: Trebuchet, sans-serif;
  font-size: 13px;
  font-style: italic;
  text-align: left;
 text-transform: capitalize; 
}
.testimonials p{
 border-top: 1px dashed #737373;
  font-family: Trebuchet, sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #737373;
  padding: 7px 0;
}

/*CONTACT*/
.contact{
  height: 345px;
  min-width: 958px;
  text-align: left;
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
}
.contact_info, .contact_map{
 display: inline-block;
 width: 50%;
}
.contact_map{
  height: 345px;
  background-image: url(images/map.png);
  -webkit-background-size: cover;
  background-size: cover;
}
.contact_info{
 vertical-align: top;
 line-height: 2;
 color: rgb(102, 102, 102);
 position: relative;
}
.contact_text{
  padding: 40px 0 0 25%;
}
.social_network{
  padding: 43px 0 0 15%;
}
.social_network img{
  padding-right: 22px;
}
.contact .phone{
  padding-top: 20px;
}
.contact .mail{
  padding-top: 10px;
}
.contact .address::before{
  content: "";
background: url(images/metka.png);
width: 23px;
height: 31px;
position: absolute;
left: 15%;
top: 40px;
}
.contact .phone::before{
  content: "";
background: url(images/phone.png);
width: 18px;
height: 26px;
position: absolute;
left: 15%;
top: 170px;
}
.contact .mail::before{
  content: "";
background: url(images/mes.png);
width: 23px;
height: 16px;
position: absolute;
left: 15%;
top: 217px;
}

/*FOOTER*/
footer{
  height: 104px;
  min-width: 958px;
  background-color: #3070a8;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: "OpenSans";
  line-height: 1.5;
}
.footer_content{
  padding-top: 35px;
}
footer .bold{
  font-weight: bold;
}
footer .black{
  color: black;
}