@font-face {
	font-family: 'PT Sans Narrow';
	src: url(../fonts/ptsans/PTSans/PTN57F.ttf);
}
@font-face {
	font-family:'PT Sans Bold';
	src: url(../fonts/ptsans/PTSans/PTN77F.ttf);
}
@font-face {
	font-family: 'PT Sans Regular';
	src:url(../fonts/ptsans/PTSans/PTS55F.ttf);
}
body {
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	min-width: 960px;
	  background: #000000 url('../img/body_bg.jpg') no-repeat center top; 
	 color: #fff;
	 letter-spacing: 0.6px;
}
.inner_page {
	color: #000;
	background: #f8f3f0 url('../img/pattern_white.jpg') repeat;
}
/*Распорка для флоатов*/
.clearfix::after { 
	content: '';
	display: table;
	clear: both;
}
.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
.main_header {
	margin-bottom: 60px;
	color: #fff;
	background-color: #000;
}
.inner_page .main_header {
	margin-bottom: 55px;
}
.main_navigation {
	width: 780px;
	float: left;
}
.main_navigation a {
	color: #fff;
	text-decoration: none;
	padding: 25px 20px;
	display: block;
}
.main_navigation a:hover {
	background-color: #242424;
}
.main_navigation .active {
	position: relative;
	background-color: none;
}
.main_navigation .active a:hover {
	background: none;
}
.main_navigation .active::after {
	content: '';
	position: absolute;
	height: 5px;
	background-color: #fff;
	right: 20px;
	bottom: 0;
	left: 20px;
}
.main_navigation .active span {
	display: block;
	padding: 25px 20px;
}
.main_navigation .logo_inner {
	float: left;
	width: 111px;
	height: 20px;
	padding-top: 22px;
}
.main_navigation .logo_inner img {
	width: 111px;
	height: 24px;
}
.main_navigation .logo_inner:hover {
	background: none;
}
.main_navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}
.main_navigation li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px; 
}
.user_block {
	max-width: 140px;
	float: right;
}
.login {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
	color: #fff;
	text-decoration: none;
	padding: 25px 20px;
	padding-left: 50px;
	position: relative;
}
.login:hover {
	background-color: #242424;
}
.login::before {
	content: '';
	width: 18px;
	height: 18px;
	position: absolute;
	top: 28px;
	left: 20px;
	background: url('../img/login.png') no-repeat;
	opacity: .3;
}
.login:hover::before {
	opacity: 1;
}
.index_logo {
	margin: 0 auto;
	width: 368px;
	height: 204px;
	margin-bottom: 25px;
}
.index_logo img {
	width: 368px;
	height: 204px;
}

.features_item {
	float: left;	
	width: 300px;
	margin-right: 20px;
	text-align: center;
}
.features_item:last-child {
	margin-right: 0;
}
.features_name {
	position: relative;
	display: block;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 30px;
	padding-bottom: 35px;
}
.features_name::after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.features_item p {
	margin: 10px;
	margin-bottom: 0;
	font-family: 'PT Sans Bold', sans-serif;
}
.features {
	margin-bottom: 80px;
}

.index_content {
	font-family: 'PT Sans Bold';
	padding: 50px 80px;
	margin-bottom: 35px;
	color: #000;
	background: url('../img/index_content_shadow.png') no-repeat center,
	#f8f5f2 url('../img/pattern_white.jpg');
}
.index_content_title {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}
.index_content p {
	margin: 0;
	margin-bottom: 25px;
}
.news_preview {
	margin: 0;
	padding: 0;
	padding-right: 35px;
	list-style: none;
}
.news_preview li {
	margin-bottom: 25px;
}
.news_preview p {
	margin-bottom: 0;
}
.news_preview time {
	text-transform: none;
	font-weight: 400;
	font-family: 'PT Sans Regular';
}
.index_content_left {
	float: left;
	width: 380px;
}
.index_content_right {
	float: right;
	width: 300px;
}
.btn {
	color: #fff;
	background-color: #000;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 10px 33px;
	margin-right: 16px;
	vertical-align: top;
}
.btn:hover, .btn:active {
	background-color: #663d15;
}
.btn.disabled, .btn:disabled {
	cursor: default;
	opacity: .5;
}
.btn.disabled:hover, .btn:disabled:hover {
	background-color: #000;
}
.gallery {
	position: relative;
	height: 260px;
}
.gallery_content {
	height: 164px;
	margin: 0;
	background-color: #ccc;
	border: 7px solid #fff;
}
.gallery_content img {
	width: 286px;
	height: 164px;
}
.gallery .btn {
	position: absolute;
	bottom: 0;
	width: 140px;
	margin: 0;
}
.gallery_prev {
	left: 0;
}
.gallery_next {
	right: 0;
}
.appointment_form input {
	background-color: #f9f6f3;
	border: 2px solid #000;
	outline: none;
	font-size: 14px;
	line-height: 24px;
	color: inherit;
	text-transform: inherit;
	font: inherit;
	width: 106px;
	padding: 7px 15px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.appointment_form input:nth-child(2n) {
	margin-right: 0;
}
.appointment_form .btn {
	clear: both;
	width: 100%;
}
.appointment_form input:focus {
	border: 2px solid #663d15;
}
/*Внутренние страницы*/
.inner_page_title {
	margin-bottom: 55px;
}
.inner_page_title h1 {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-size: 30px;
	line-height: 42px;
}
.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}
.breadcrumbs li {
	position: relative;
	display: inline;
	padding-right: 40px;
}
.breadcrumbs a {
	color: #000;
	text-decoration: none;
}
.breadcrumbs a:hover {
	text-decoration: underline;
}
.breadcrumbs .current {
	color: #aba9a7;
}
.breadcrumbs li::after {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: #000;
	top: 4px;
	right: 18px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.inner_page_item .breadcrumbs li::after {
	right: 15px;
}
.breadcrumbs .current::after {
	content: none;
}
/*Общие стили для контентных тегов*/
.inner_content {
	margin-bottom: 75px;
}
.inner_content h2 {
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 30px;
}
.inner_content p {
	margin: 14px 0;
}
.inner_content table {
	border-collapse: collapse;
}
.inner_content td {
	padding: 10px 15px;
	border: 2px solid #000;
}

/*Особые стили для контентых тегов*/
.big_heading {
	margin-top: 55px;
	margin-bottom: 65px;
	text-align: center;
}
.big_heading h2 {
	position: relative;
	display: inline;
	margin: 0;
	padding: 0 25px;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	z-index: 2;
	background: #f8f3f0 url('../img/pattern_white.jpg');
}
.big_heading::after {
	content: '';
	display: block;
	border-bottom: 2px solid #000;
	position: relative;
	top: -25px;
	z-index: 1;
}
.custom_list_1 {
	margin: 14px 0;
	padding: 0;
	list-style: none;
}
.custom_list_1 li {
	position: relative;
	margin-bottom: 15px;
	padding-left: 20px;
}
.custom_list_1 li::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 8px;
	height: 8px;
	background-color: #000;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.prices_table {
	width: 100%;
}
.prices_table td {
	width: 50%;
}
.prices_table td:last-child {
	text-align: center;
}

/*Колонки для контента*/
.inner_columns {
	margin: 60px 0;
}
.inner_column_left,
.inner_column_right {
	width: 460px;
}
.inner_column_left {
	float: left;
}
.inner_column_right {
	float: right;
}
/*Убираем маргины у флоатов*/
.inner_column_left *:first-child,
.inner_column_right *:first-child {
	margin-top: 0;
}
/*.inner_column_left *:first-child,
.inner_column_right *:last-child {
	margin-bottom: 0;
}*/
.short_text {
	padding-right: 65px;
}

/*Внутренняя item*/
.inner_page_item {
	font-family: 'PT Sans Bold', sans-serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0;
}
.good_images img {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.bottom_images {
	margin-top: 15px;
}
.bottom_images img {
	margin-right: 16px;
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	transition: all .3s ease-out;
}
.bottom_images img:hover {
	-o-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.good_images img:last-child {
	margin-right: 0;
}
.inner_price {
	margin-bottom: 0;
}
.inner_item {
	width: 390px;
}
.footer_price {
	margin-top: 0;
}
.inner_page_item .inner_column_right{
	margin-top: 20px;
}
.column_right_title {
	position: relative;
	margin-bottom: 30px;
}
.good_articul {
	position: absolute;
	right: 0;
	top: 0;
	color: #aeaeae;
}
p.description {
	margin-bottom: 40px;
}
.price {
	font-size: 0;
	letter-spacing: 0;
}
.price span, .price .btn {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}
.price span {
	padding: 10px 25px;
	background-color: #e5e5e5;
}
.inner_page_item .price .btn {
	padding: 10px 20px;
}
.good_inner {
	margin-top: 65px;
}
.good_inner ul {
	padding-left: 20px;
}
.good_inner li {
	list-style: none;
	position: relative;
}
.good_inner li:before {
	    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #000;
    top: 8px;
    left: -20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*Shop*/
.inner_page_shop {
	font-family: 'PT Sans Bold', sans-serif;
	font-size: 14px;
}
.inner_page_shop main {
	letter-spacing: 0;
}
.inner_page_shop .inner_column_left {
	width: 185px;
}
.inner_page_shop .inner_column_right {
	width: 700px;
}
.shop_items {
	font-size: 0;
}
.shop_items article {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	font-size: 14px;
	margin: 0;
	margin-right: 19px;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.item_name a {
	text-decoration: none;
	color: #000;
}
.item_name {
	margin: 16px 20px 0 20px;
}
.small {
	text-transform: none;
}
.shop_items article:nth-child(3n) {
	margin-right: 0;
}
.shop_items .price {
	text-align: center;
	width: 188px;
	padding: 17px;
}
.shop_items .btn {
	margin-right: 0;
	width: 78px;
}
.shop_items span, .shop_items .btn {
	padding: 14px 0;
}
.shop_items .price span {
	width: 110px;
}
.pagination {
	margin-top: 35px;
}
.pagination ul {
	padding-left: 0;
}
.pagination ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	text-align: center;
	margin-right: 7px;
}
.pagination .btn {
	width: 50px;
}
.pagination_current {
	width: 50px;
	padding-top: 14px;
	padding-bottom: 14px;
	color: #000;
	background-color: #fff;
	border: none;
	outline: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
}
.inner_page_shop footer{
	margin-top: 0;
}
.inner_page_shop .inner_content {
	margin-bottom: 0;
}
.form_top, .form_bottom {
	padding-left: 0;
}
.form_top li, .form_bottom li {
	list-style-type: none;
	padding-bottom: 17px;
}
.form_bottom li:last-child {
	padding-bottom: 0;
}
.form_bottom label {
	padding-left: 0;
}
legend {
	font-size: 24px;
	margin-bottom: 30px;
}
.inner_page_shop form .btn {
	margin-top: 50px;
}
.form_bottom {
	margin-left: 43px;
}
.form_bottom label {
	padding-left: 0;
}
.form_top label {
	padding-left: 50px;
}
.index_content_left .btn {
	margin-top: 4px;
}


footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
	color: #fff;
	background: #252525 url('../img/pattern_black.jpg');
}
.footer_contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
}
.footer_contacts a {
	color: #fff;
}
.footer_contacts a:hover {
	text-decoration: none;
}
.footer_social {
	float: left;
	width: 180px;
	text-align: center;
}
.footer_copyright {
	float: right;
	max-width: 180px;
}
.footer_copyright p {
	margin: 0;
	margin-bottom: 12px;
	margin-top: 12px;
	text-align: center;
}
footer .footer_copyright .btn {
	margin-right: 0;
}
.footer_copyright .btn:hover {
	color: #000;
	background-color: #fff;
}
.footer_contacnts p {
	margin: 0;
	margin-bottom: 15px;
}
.social_btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background: #000 url('../img/social_sprite.png') no-repeat center;
	transition: 
		background-position 0.5s,
		background-color 0.5s;
}
.social_btn:hover {
	background-color: #fff;
}
.social_btn_vk {
	background-position: 7px 15px;
}
.social_btn_fb {
	background-position: 9px -25px;
}
.social_btn_inst {
	background-position: 10px -64px;
}
.social_btn_vk:hover {
	background-position: -25px 15px;
}
.social_btn_fb:hover {
	background-position: -24px -25px;
}
.social_btn_inst:hover {
	background-position: -24px -64px;
}

/*Всплывающая форма*/
.modal_content {
	width: 300px;
	padding: 50px 80px;
	color: #000;
	background: #f8f3f0 url('../img/pattern_white.jpg');
	position: fixed;
	top: 120px;
	left: 50%;
	margin-left: -230px;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	z-index: 20;
	display: none;
}
.modal_content_map {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -280px;
	margin-left: -390px;
	width: 766px;
	height: 561px;
	background: #e9e5dc url('../img/map.png');
	background-position: 50% 50%;
	border: 7px solid white;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	z-index: 20;
	display: none;
}
.modal_overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}
.modal_content_close {
	width: 22px;
	height: 22px;
	font-size: 0;
	border: 0;
	outline: 0;
	cursor: pointer; 
	position: absolute;
	top: 0;
	right: -34px;
	background: transparent;
}
.modal_content_close::before,
.modal_content_close::after {
	content: '';
	position: absolute;
	width: 19px;
	height: 3px;
	background-color: #d0d0d0;
	border-radius: 1px;
	top: 10px;
	left: 2px;
}
.modal_content_close::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.modal_content_close::after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.modal_content h2 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
}
.modal_content p {
	margin: 0;
	margin-bottom: 14px;
}
.modal_content .login_form {
	margin-top: 30px;
	margin-bottom: 10px;
}
.login_form input[type="text"],
.login_form input[type="password"] {
	width: 236px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 20px;
	padding-right: 40px;
	font-size: 14px;
	line-height: 24px;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	color: #000;
	text-transform: uppercase;
	background-color: #f9f6f3;
	border: 2px solid #000;
	outline: none;
}
.login_form input:focus {
	border-color: #663d15;
}
.login_form input.icon_user {
	background-image: url('../img/login_sprite.png');
	background-repeat: no-repeat;
	background-position: 95% 15px;
}
.login_form input.icon_password {
	background-image: url('../img/login_sprite.png');
	background-repeat: no-repeat;
	background-position: 95% -23px;
}
.login_form .restore {
	float: right;
	color: #000;
}
.login_form .btn {
	width: 100%;
	margin-top: 15px;
}
.login_checkbox input[type="checkbox"], .goods_checkbox input[type="checkbox"], .goods_radio input[type="radio"] {
	display: none;
}
.login_checkbox, .goods_checkbox, .goods_radio {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}
.login_checkbox:hover, .goods_checkbox:hover, .goods_radio:hover {
	color: #663d15;
}
.login_checkbox input[type='checkbox'] + .checkbox_indicator,
 .goods_checkbox input[type='checkbox'] + .checkbox_indicator {
	position: absolute;
	top: -3px;
	left: 0;
	width: 17px;
	height: 17px;
	border: 2px solid #000;
}
.goods_radio input[type='radio'] + .radio_indicator {
	position: absolute;
	top: -3px;
	left: -43px;
	width: 17px;
	height: 17px;
	border: 2px solid #000;
	border-radius: 100px;
}
.login_checkbox input[type='checkbox']:checked + .checkbox_indicator::before,
.login_checkbox input[type='checkbox']:checked + .checkbox_indicator::after,
.goods_checkbox input[type='checkbox']:checked + .checkbox_indicator::before,
.goods_checkbox input[type='checkbox']:checked + .checkbox_indicator::after {
	content: '';
	position: absolute;
	top: 8px;
	left: 1px;
	width: 15px;
	height: 2px;
	background-color: #000;
}
.goods_radio input[type='radio']:checked + .radio_indicator::after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	background-color: #000;
	border-radius: 100px;
}
.login_checkbox input[type='checkbox'] + .checkbox_indicator::before,
.goods_checkbox input[type='checkbox'] + .checkbox_indicator::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.login_checkbox input[type='checkbox'] + .checkbox_indicator::after,
.goods_checkbox input[type='checkbox'] + .checkbox_indicator::after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.modal_content_show {
	display: block;
	animation: bounce 0.6s;
}
.modal_error {
	animation: shake 0.6s;
}

@keyframes bounce {
	0% {transform: translateY(-2000px);}
	70% {transform: translateY(30px);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY(0);}
}
@keyframes shake {
	0%, 100%	{transform: translateX(0);}
	10%, 30%, 50%, 70%, 90%	{transform: translateX(-10px);}
	20%, 40%, 60%, 80%	{transform: translateX(10px);}
}

.existing_content {
	position: fixed;
	left: 0;
	top: 200px;
	width: 250px;
	text-transform: none;
	font-weight: 300;
	padding-left: 10px;
	border: 2px solid black;
	background-color: #fff;
	color: #000;
	font-family: "PT Sans Narrow", sans-serif;
}