.news__wrapper {
  padding-top: 30px;
  padding-bottom: 28px;
  color: #000;
  background-color: #FFF;
  text-align: center; }

.news__title {
  margin: 0;
  margin-bottom: 28px;
  text-transform: uppercase;
  font-weight: bold; }

.news__item {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-right: 10px;
  padding-bottom: 7px;
  list-style: none;
  margin-bottom: 40px; }
  .news__item p {
    text-align: left; }
  .news__item:first-child {
    border-bottom: 1px solid #3e3e3e; }

.news__item:nth-child(n+3) {
  display: none; }

.news__item:nth-child(2) {
  padding-bottom: 0; }

.news__date {
  position: absolute;
  left: 0;
  top: 10px;
  width: 50px;
  height: 50px;
  line-height: .8em;
  background-color: #000;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px; }
  .news__date b {
    font-size: 30px; }
  .news__date::after {
    content: "";
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 15px solid #000;
    left: 0;
    top: 50px; }

.news__to-all {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #3e3e3e;
  padding: 10px 40px; }
  .news__to-all:hover {
    color: #fff;
    background-color: #000; }

@media (min-width: 768px) {
  .news {
    padding-top: 90px; }
  .news__wrapper {
    padding: 0;
    position: relative;
    padding-bottom: 10px;
    width: 100%; }
  .news__title {
    min-height: 40px;
    margin-left: 40px;
    margin-bottom: 55px;
    padding-top: 50px;
    text-align: left; }
  .news__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .news__item {
    font-size: 20px;
    margin: 0;
    padding: 0 30px;
    padding-left: 70px;
    vertical-align: top; }
    .news__item:first-child {
      border-bottom: none; }
  .news__date {
    top: 30px; }
  .news__to-all {
    position: absolute;
    right: 40px;
    top: 40px; } }

@media (min-width: 1200px) {
  .news {
    padding-top: 88px; }
  .news__wrapper {
    width: 100%;
    position: relative; }
  .news__title {
    margin-left: 70px; }
  .news__item:nth-child(n+3) {
    display: inline-block; } }
