.page-footer {
<<<<<<< HEAD
  border: 1px solid #3e3e3e;
=======
  border: 1px solid #fff; }

.page-footer__wrapper {
>>>>>>> origin/master
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: columns;
      -ms-flex-direction: columns;
<<<<<<< HEAD
          flex-direction: columns;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff; }

.page-footer a {
  color: #fff;
  text-decoration: none; }

.page-footer__wrapper {
  text-align: center; }

.page-footer__contacts {
  line-height: 2em; }

.page-footer__contacts a {
  display: block;
  border: 1px solid #3e3e3e;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold; }

.page-footer__contacts-hidden {
  display: none; }

.page-footer__social-link {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000 url("../img/social_sprite.png") no-repeat center;
  -webkit-transition: background-position 0.5s, background-color 0.5s;
  transition: background-position 0.5s, background-color 0.5s; }
  .page-footer__social-link:hover {
    background-color: #FFF; }

.page-footer__social-link--vk {
  background-position: 9px 13px; }
  .page-footer__social-link--vk:hover {
    background-position: -24px 13px; }

.page-footer__social-link--fb {
  background-position: 9px -24px; }
  .page-footer__social-link--fb:hover {
    background-position: -24px -24px; }

.page-footer__social-link--in {
  background-position: 10px -64px; }
  .page-footer__social-link--in:hover {
    background-position: -24px -63px; }

.page-footer__copyright-link {
  display: block;
  font-weight: bold;
  border: 1px solid #3e3e3e;
  padding: 10px;
  width: 100px;
  margin: 0 auto;
  margin-top: 10px; }
  .page-footer__copyright-link:hover {
    color: #000;
    background-color: #FFF; }

@media (min-width: 768px) {
  .page-footer {
    border: none; }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 84%;
    padding: 30px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .page-footer__contacts b {
    text-transform: uppercase; }
  .page-footer__contacts a {
    border: none; }
  .page-footer__contacts-hidden {
    display: inline-block; }
  .page-footer__copyright {
    margin-top: -18px; } }
=======
          flex-direction: columns; }
>>>>>>> origin/master
