.reviews__wrapper {
  background-color: #FFF;
  color: #000;
  border-top: 1px solid #e5ddd5;
  text-align: center;
  padding-bottom: 20px;
  /*padding-left: 40px;
  padding-right: 40px;*/ }

.reviews__title {
  text-transform: uppercase;
  font-size: 30px; }

.reviews__write, .slider__input, .reviews__toggles, .reviews__prev, .reviews__next {
  display: none; }

.reviews__item {
  position: relative;
  padding-left: 70px;
  text-align: left; }
  .reviews__item p {
    margin-top: 0; }

.reviews__author-foto {
  position: absolute;
  left: 0;
  top: 20px; }

.reviews__author-name {
  font-weight: bold;
  font-size: 20px; }

@media (min-width: 768px) {
  .reviews__items {
    border: 1px solid #e5ddd5;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 150px; }
  .reviews__item {
    padding-left: 170px;
    padding-right: 60px;
    margin: auto; }
  .reviews__item img {
    width: 80px;
    height: 80px; }
  .reviews__author-foto {
    left: 60px;
    top: 0; }
  .reviews__prev, .reviews__next {
    display: block;
    font-size: 0;
    background-color: #FFF;
    cursor: pointer; }
  .reviews__prev {
    border: none;
    border-right: 1px solid #e5ddd5;
    height: 100%;
    width: 50px;
    position: absolute;
    left: 0;
    top: 0; }
    .reviews__prev::after {
      content: "";
      position: absolute;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid #000;
      left: 15px;
      top: 40%; }
  .reviews__next {
    border: none;
    border-left: 1px solid #e5ddd5;
    height: 100%;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0; }
    .reviews__next::after {
      content: "";
      position: absolute;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #000;
      right: 15px;
      top: 40%; } }
