@charset "UTF-8";
.stats {
  width: auto; }
  @media (min-width: 768px) {
    .stats {
      width: 84%;
      max-width: 1200px;
      margin: 0 auto; } }

.stats__header {
  padding-top: 27px;
  padding-right: 38px;
  padding-bottom: 26px;
  padding-left: 38px;
  color: #000;
  background-color: #FFF; }

.stats__slogan {
  display: block;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase; }

.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center; }

.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px; }
  .stats__legend--bottom {
    padding-top: 20px;
    padding-bottom: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #292929; }
  .stats__legend--top {
    display: none; }

.stats__legend sup {
  top: -0.25em;
  font-size: 90%; }

.stats__items {
  width: 100%;
  border-collapse: collapse; }

.stats__items tr {
  color: #fff;
  background-color: #404040; }
  .stats__items tr:nth-child(2) {
    background-color: #4e4e4e; }
  .stats__items tr:nth-child(3) {
    background-color: #353535; }
  .stats__items tr:nth-child(4) {
    background-color: #404040; }

.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top; }

.stats__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px; }

.stats__value sup {
  top: -0.35em;
  margin-left: 5px; }

.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right; }

@media (min-width: 768px) {
  .stats {
    position: relative;
    z-index: 1;
    margin-top: -184px; }
  .stats__header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-top: 31px;
    padding-bottom: 24px; }
    .stats__header::before {
      content: "";
      position: absolute;
      top: 27px;
      left: -15px;
      border: 15px solid transparent;
      border-bottom-color: #fff;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  .stats__slogan {
    width: 50%;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none; }
  .stats__intro {
    width: 37.5%;
    padding: 0;
    padding-left: 30px;
    padding-top: 4px;
    text-align: left; }
  .stats__legend--top {
    display: block;
    width: 50%;
    color: rgba(0, 0, 0, 0.3); }
  .stats__legend--bottom {
    display: none; }
  .stats__items {
    display: block; }
  .stats__items tbody {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .stats__items tr {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    /* flex-basis: 250px;
		flex-grow: 1; //вместо box, width */
    padding: 25px 35px;
    padding-bottom: 28px; }
  .stats__value,
  .stats__field {
    display: block;
    width: auto;
    padding: 0; }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px; }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left; }
  .stats__field br {
    display: none; } }

@media (min-width: 1200px) {
  .stats {
    margin-top: -159px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .stats__header {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 240px;
    padding-left: 40px;
    padding-right: 40px; }
    .stats__header::before {
      top: 22px; }
  .stats__slogan {
    width: auto;
    margin-bottom: 42px; }
  .stats__intro {
    width: auto;
    margin-bottom: 32px;
    padding: 0; }
  .stats__legend--top {
    width: auto;
    margin-top: auto; }
  .stats__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 640px; } }
