<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Carousel</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="carousel">
		<button class="arrow prev">⇦</button>
		<div class="gallery">
			<ul class="images">
				<li><img src="https://js.cx/carousel/1.png" alt=""></li>
				<li><img src="https://js.cx/carousel/2.png" alt=""></li>
				<li><img src="https://js.cx/carousel/3.png" alt=""></li>
				<li><img src="https://js.cx/carousel/4.png" alt=""></li>
				<li><img src="https://js.cx/carousel/5.png" alt=""></li>
				<li><img src="https://js.cx/carousel/6.png" alt=""></li>
				<li><img src="https://js.cx/carousel/7.png" alt=""></li>
				<li><img src="https://js.cx/carousel/8.png" alt=""></li>
				<li><img src="https://js.cx/carousel/9.png" alt=""></li>
				<li><img src="https://js.cx/carousel/10.png" alt=""></li>
			</ul>
		</div>
		<button class="arrow next">⇨</button>
	</div>
	
	<script src="carousel.js"></script>

</body>
</html>