doctype html
html(lang='ru')
  include blocks/head/head.pug
  body
    include blocks/header/header
    h1.visually-hidden My Site
    p Welcome to my super lame site.
    h2 да-да
    h3(hidden) скрытый заголовок
    details 
      summary Подробнее
      p Описание2
    ul
      -
        var list = [
            "Uno", 
            "Dos", 
            "Tres", 
            "Cuatro", 
            "Cinco", 
            "Seis"
          ]
      each item in list
        li= item

    - var droids = ["R2D2", "C3PO", "BB8"];
    div
      h1 Famous Droids from Star Wars
      for name in droids
        div.card
          h2= name
          .desc
            p 
    - 
      var pages = [{
        id: "home",
        href: "index.html",
        title: "Home"
      },
      {
        id: "about",
        href: "about-us.html",
        title: "About us"
      }];
    - var currentPage = "home"
    nav.menu
      ul.menu__list
        each item in pages
          li.menu__item(class=(currentPage === item.id) ? 'menu__item--active': '')
            a.menu__link(href=item.href)=item.title
    section.main
      .container
        include blocks/main/main
  script(src='js/libs.min.js')
  script(src='js/scripts.min.js')