@charset "UTF-8";
@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/pt-sans-narrow-v7-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/PTSansNarrow.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/pt-sans-narrow-v7-latin_cyrillic-700.woff2") format("woff"), url("../fonts/PTSansNarrowBold.woff") format("woff"); }

body {
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  background: #292929 url("img/bb-mobile.png") no-repeat 50% 0px;
  background-size: 720px auto;
  min-height: 750px; }

@media (min-width: 768px) {
  body {
    background: #292929 url("img/bb-tablet.png") no-repeat 50% 0px;
    background-size: 1178px auto; } }

@media (min-width: 1200px) {
  body {
    background: #292929 url("img/bb-desktop.png") no-repeat 50% 0px;
    background-size: 1391px auto; } }

.page-header__logo {
  height: 85px;
  text-align: center; }

.page-header__logo img {
  width: 230px;
  height: 85px; }

@media (min-width: 768px) {
  .page-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 0;
    background-color: #000; }
  .page-header__logo {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
    background-size: cover; }
  .page-header__logo img {
    position: absolute;
    bottom: 257px;
    left: 50%;
    width: 370px;
    height: auto;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); } }

@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-position: center 0px;
    background-size: cover; }
  .page-header__logo img {
    bottom: 438px; } }

.main-nav {
  position: relative;
  width: auto;
  min-height: 50px;
  background-color: #826550; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  background-color: #6a4d38;
  cursor: pointer;
  border: none; }
  .main-nav__toggle:hover {
    background-color: #624530; }
  .main-nav__toggle:active {
    background-color: #624530; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 8px 0 0 #fff,
 0 16px 0 0 #fff;
          box-shadow: 0 8px 0 0 #fff,
 0 16px 0 0 #fff; }

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3); }

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #FFF; }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3); }

.main-nav__items,
.main-nav__user-items {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__items {
  font-weight: bold; }

.main-nav__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f; }

.main-nav__item a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46; }

.main-nav__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38; }

.main-nav__user-login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none; }
  .main-nav__user-login::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 21px;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-login.png");
    background-position: 0 -80px;
    opacity: .7; }

@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none; }
    .main-nav--closed .main-nav__item--active {
      display: block; }
  .main-nav--closed .main-nav__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center; }
  .main-nav--closed .main-nav__user-items {
    display: none; }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    height: 80vh;
    background-color: #6a4d38; }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    -webkit-box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
            box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4); }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto; }
  .main-nav--nojs .main-nav__item {
    display: block; }
  .main-nav--nojs .main-nav__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left; }
  .main-nav--nojs .main-nav__user-items {
    display: block;
    background-color: #6a4d38; } }

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0;
    background-color: black; }
  .main-nav__wrapper {
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .main-nav__wrapper {
      width: 84%;
      max-width: 1200px;
      margin: 0 auto; } }

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none; }
  .main-nav__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .main-nav__user-items {
    width: 60px; }
  .main-nav__item {
    margin-right: 32px; }
    .main-nav__item:last-child {
      margin-right: 0; }
    .main-nav__item--active {
      position: relative; }
      .main-nav__item--active::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0;
        height: 3px;
        background: #826550; }
  .main-nav__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none; }
  .main-nav__item a[href]:hover {
    color: #826550;
    background-color: black; }
  .main-nav__item a[href]:active {
    color: #ffffff;
    background-color: #000;
    opacity: .3; }
  .main-nav__user-login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0; }
    .main-nav__user-login::before {
      top: 29px;
      left: 12px; }
    .main-nav__user-login:hover::before {
      opacity: 1; }
    .main-nav__user-login:active::before {
      opacity: .7; } }

@media (min-width: 1200px) {
  .main-nav__item {
    margin-right: 0; }
    .main-nav__item--active::after {
      right: 30px;
      left: 30px; }
  .main-nav__item a {
    padding-right: 31px;
    padding-left: 31px; }
  .main-nav__item a[href]:hover {
    color: #000;
    background-color: #ffffff; }
  .main-nav__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    opacity: 1; }
  .main-nav__user-items {
    width: auto;
    max-width: 160px; }
  .main-nav__user-login {
    position: relative;
    width: auto;
    height: auto;
    padding: 25px 30px 23px 50px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none; }
    .main-nav__user-login:hover {
      color: #000;
      background-color: #FFF; }
    .main-nav__user-login:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #FFF; }
    .main-nav__user-login:hover::before {
      opacity: 1; }
  .main-nav__user-login::before {
    left: 15px; } }

.stats {
  width: auto; }
  @media (min-width: 768px) {
    .stats {
      width: 84%;
      max-width: 1200px;
      margin: 0 auto; } }

.stats__header {
  padding-top: 27px;
  padding-right: 38px;
  padding-bottom: 26px;
  padding-left: 38px;
  color: #000;
  background-color: #FFF; }

.stats__slogan {
  display: block;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase; }

.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center; }

.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px; }
  .stats__legend--bottom {
    padding-top: 20px;
    padding-bottom: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #292929; }
  .stats__legend--top {
    display: none; }

.stats__legend sup {
  top: -0.25em;
  font-size: 90%; }

.stats__items {
  width: 100%;
  border-collapse: collapse; }

.stats__items tr {
  color: #fff;
  background-color: #404040; }
  .stats__items tr:nth-child(2) {
    background-color: #4e4e4e; }
  .stats__items tr:nth-child(3) {
    background-color: #353535; }
  .stats__items tr:nth-child(4) {
    background-color: #404040; }

.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top; }

.stats__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px; }

.stats__value sup {
  top: -0.35em;
  margin-left: 5px; }

.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right; }

@media (min-width: 768px) {
  .stats {
    position: relative;
    z-index: 1;
    margin-top: -184px; }
  .stats__header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-top: 31px;
    padding-bottom: 24px; }
    .stats__header::before {
      content: "";
      position: absolute;
      top: 27px;
      left: -15px;
      border: 15px solid transparent;
      border-bottom-color: #fff;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  .stats__slogan {
    width: 50%;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none; }
  .stats__intro {
    width: 37.5%;
    padding: 0;
    padding-left: 30px;
    padding-top: 4px;
    text-align: left; }
  .stats__legend--top {
    display: block;
    width: 50%;
    color: rgba(0, 0, 0, 0.3); }
  .stats__legend--bottom {
    display: none; }
  .stats__items {
    display: block; }
  .stats__items tbody {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .stats__items tr {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    /* flex-basis: 250px;
		flex-grow: 1; //вместо box, width */
    padding: 25px 35px;
    padding-bottom: 28px; }
  .stats__value,
  .stats__field {
    display: block;
    width: auto;
    padding: 0; }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px; }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left; }
  .stats__field br {
    display: none; } }

@media (min-width: 1200px) {
  .stats {
    margin-top: -159px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .stats__header {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 240px;
    padding-left: 40px;
    padding-right: 40px; }
    .stats__header::before {
      top: 22px; }
  .stats__slogan {
    width: auto;
    margin-bottom: 42px; }
  .stats__intro {
    width: auto;
    margin-bottom: 32px;
    padding: 0; }
  .stats__legend--top {
    width: auto;
    margin-top: auto; }
  .stats__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 640px; } }

.advantages__wrapper {
  width: auto;
  padding-top: 30px;
  text-align: center; }
  @media (min-width: 768px) {
    .advantages__wrapper {
      width: 84%;
      max-width: 1200px;
      margin: 0 auto; } }

.advantages__items {
  margin: 0;
  padding: 0;
  list-style: none; }

.advantages__item {
  margin-bottom: 23px;
  padding: 0 44px;
  font-size: 20px; }

.advantages__item:nth-child(n+2) {
  display: none; }

.advantages__toggles {
  display: none; }

.advantages__item-title {
  text-transform: uppercase;
  font-size: 30px; }

@media (min-width: 768px) {
  .advantages__wrapper {
    padding-top: 42px; }
  .advantages__item {
    margin: 0 30px;
    margin-bottom: 40px;
    padding: 0;
    padding-left: 128px; }
  .advantages__item {
    border-bottom: 1px solid #3e3e3e;
    position: relative;
    text-align: left; }
  .advantages__item:nth-child(n+2) {
    display: block; }
  .advantages__item:last-child {
    margin-bottom: 0;
    border-bottom: none; }
  .advantages__img {
    position: absolute;
    left: 0;
    top: 0; }
  .slider__input {
    display: none; } }

@media (min-width: 1200px) {
  .advantages__wrapper {
    padding-top: 75px;
    text-align: left; }
  .advantages__items {
    display: table;
    width: 100%; }
  .advantages__item {
    display: table-cell;
    width: 240px;
    margin: 0;
    padding: 0 40px;
    padding-top: 50px; }
  .advantages__item:nth-child(n+2) {
    display: table-cell; }
  .advantages__item:nth-child(2) {
    width: 200px;
    padding-left: 60px;
    padding-right: 60px; }
  .advantages__item {
    border-bottom: none;
    border-right: 1px solid #3e3e3e;
    text-align: center; }
    .advantages__item:last-child {
      border-right: none; }
  .advantages__img {
    position: relative; } }

.news__wrapper {
  padding-top: 30px;
  padding-bottom: 28px;
  color: #000;
  background-color: #FFF;
  text-align: center; }

.news__title {
  margin: 0;
  margin-bottom: 28px;
  text-transform: uppercase;
  font-weight: bold; }

.news__item {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-right: 10px;
  padding-bottom: 7px;
  list-style: none;
  margin-bottom: 40px; }
  .news__item p {
    text-align: left; }
  .news__item:first-child {
    border-bottom: 1px solid #3e3e3e; }

.news__item:nth-child(n+3) {
  display: none; }

.news__item:nth-child(2) {
  padding-bottom: 0; }

.news__date {
  position: absolute;
  left: 0;
  top: 10px;
  width: 50px;
  height: 50px;
  line-height: .8em;
  background-color: #000;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px; }
  .news__date b {
    font-size: 30px; }
  .news__date::after {
    content: "";
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 15px solid #000;
    left: 0;
    top: 50px; }

.news__to-all {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #3e3e3e;
  padding: 10px 40px; }
  .news__to-all:hover {
    color: #fff;
    background-color: #000; }

@media (min-width: 768px) {
  .news {
    padding-top: 90px; }
  .news__wrapper {
    padding: 0;
    position: relative;
    padding-bottom: 10px;
    width: 100%; }
  .news__title {
    min-height: 40px;
    margin-left: 40px;
    margin-bottom: 55px;
    padding-top: 50px;
    text-align: left; }
  .news__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .news__item {
    font-size: 20px;
    margin: 0;
    padding: 0 30px;
    padding-left: 70px;
    vertical-align: top; }
    .news__item:first-child {
      border-bottom: none; }
  .news__date {
    top: 30px; }
  .news__to-all {
    position: absolute;
    right: 40px;
    top: 40px; } }

@media (min-width: 1200px) {
  .news {
    padding-top: 88px; }
  .news__wrapper {
    width: 100%;
    position: relative; }
  .news__title {
    margin-left: 70px; }
  .news__item:nth-child(n+3) {
    display: inline-block; } }

.reviews__wrapper {
  background-color: #FFF;
  color: #000;
  border-top: 1px solid #e5ddd5;
  text-align: center;
  padding-bottom: 20px;
  /*padding-left: 40px;
  padding-right: 40px;*/ }

.reviews__title {
  text-transform: uppercase;
  font-size: 30px; }

.reviews__write, .slider__input, .reviews__toggles, .reviews__prev, .reviews__next {
  display: none; }

.reviews__item {
  position: relative;
  padding-left: 70px;
  text-align: left; }
  .reviews__item p {
    margin-top: 0; }

.reviews__author-foto {
  position: absolute;
  left: 0;
  top: 20px; }

.reviews__author-name {
  font-weight: bold;
  font-size: 20px; }

@media (min-width: 768px) {
  .reviews__items {
    border: 1px solid #e5ddd5;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 150px; }
  .reviews__item {
    padding-left: 170px;
    padding-right: 60px;
    margin: auto; }
  .reviews__item img {
    width: 80px;
    height: 80px; }
  .reviews__author-foto {
    left: 60px;
    top: 0; }
  .reviews__prev, .reviews__next {
    display: block;
    font-size: 0;
    background-color: #FFF;
    cursor: pointer; }
  .reviews__prev {
    border: none;
    border-right: 1px solid #e5ddd5;
    height: 100%;
    width: 50px;
    position: absolute;
    left: 0;
    top: 0; }
    .reviews__prev::after {
      content: "";
      position: absolute;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid #000;
      left: 15px;
      top: 40%; }
  .reviews__next {
    border: none;
    border-left: 1px solid #e5ddd5;
    height: 100%;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0; }
    .reviews__next::after {
      content: "";
      position: absolute;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #000;
      right: 15px;
      top: 40%; } }

.page-footer {
  border: 1px solid #3e3e3e;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: columns;
      -ms-flex-direction: columns;
          flex-direction: columns;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff; }

.page-footer a {
  color: #fff;
  text-decoration: none; }

.page-footer__wrapper {
  text-align: center; }

.page-footer__contacts {
  line-height: 2em; }

.page-footer__contacts a {
  display: block;
  border: 1px solid #3e3e3e;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold; }

.page-footer__contacts-hidden {
  display: none; }

.page-footer__social-link {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000 url("../img/social_sprite.png") no-repeat center;
  -webkit-transition: background-position 0.5s,
 background-color 0.5s;
  transition: background-position 0.5s,
 background-color 0.5s; }
  .page-footer__social-link:hover {
    background-color: #FFF; }

.page-footer__social-link--vk {
  background-position: 9px 13px; }
  .page-footer__social-link--vk:hover {
    background-position: -24px 13px; }

.page-footer__social-link--fb {
  background-position: 9px -24px; }
  .page-footer__social-link--fb:hover {
    background-position: -24px -24px; }

.page-footer__social-link--in {
  background-position: 10px -64px; }
  .page-footer__social-link--in:hover {
    background-position: -24px -63px; }

.page-footer__copyright-link {
  display: block;
  font-weight: bold;
  border: 1px solid #3e3e3e;
  padding: 10px;
  width: 100px;
  margin: 0 auto;
  margin-top: 10px; }
  .page-footer__copyright-link:hover {
    color: #000;
    background-color: #FFF; }

@media (min-width: 768px) {
  .page-footer {
    border: none; }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 84%;
    padding: 30px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .page-footer__contacts b {
    text-transform: uppercase; }
  .page-footer__contacts a {
    border: none; }
  .page-footer__contacts-hidden {
    display: inline-block; }
  .page-footer__copyright {
    margin-top: -18px; } }
